{% extends 'base.html.twig' %}

{% block title %}Hello UserSelectController!{% endblock %}

{% block body %}
    {{ parent() }}

    {% if loggedInUser is defined and loggedInUser is not null %}
        {% cache "cache key" ttl(1) %}
            <div class="container mt-4 text-center">
                <h3>You are logged in with user {{ loggedInUser.firstName }} {{ loggedInUser.lastName }}</h3>
                <h4>You can now create a new game to enter a score</h4>
            </div>
        {% endcache %}
    {% endif %}
{% endblock %}
