{% block page_header %}
    <div class="container text-center">
        <a class="btn btn-secondary mt-3 mr-2" href="/">Home</a>
        <a class="btn btn-secondary mt-3 mr-2" href="/golfclub">GolfClubs</a>
        <a class="btn btn-secondary mt-3 mr-2" href="/users">Users</a>
        <a class="btn btn-secondary mt-3 mr-2" href="/gamelisting">Games</a>
    </div>
{% endblock %}
