{% block page_header %}
    <div class="container text-center">
        <a class="btn btn-secondary mt-3 mr-2" href="/">Home</a>
        <a class="btn btn-secondary mt-3 mr-2" href="/golfclub">GolfClubs</a>
        <a class="btn btn-secondary mt-3 mr-2" href="/users">Users</a>

        {% if loggedInUser is defined and loggedInUser is not null or app.request.cookies.get('userId') is defined and app.request.cookies.get('userId') is not null %}
            <a class="btn btn-secondary mt-3 mr-2" href="/newgame">New Game</a>
        {% endif %}
    </div>
{% endblock %}
