{% block page_header %}
    <div class="container navbar">
        <a class="btn btn-secondary mt-3 mr-2" href="/">Home</a>
        <a class="btn btn-secondary mt-3 mr-2" href="/golfclub">GolfClubs</a>
    </div>
{% endblock %}
